name: Build docs

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: pip install mkdocs-material mknotebooks mkdocstrings mkdocstrings-python mkdocs-exclude
      - name: Build docs
        run: mkdocs gh-deploy --force

